<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.chatMapper">
    <insert id="chatList" parameterType="map">
        INSERT INTO chat (sender_id,item_id,status,seller_id)
        VALUES (#{userID},#{itemID},0,#{sellerID})
    </insert>


    <select id="getChatReq" resultType="map">
        SELECT chat.*, user.user_img, user.user_nickname, item.item_title
        FROM chat
        JOIN user ON chat.sender_id = user.user_email
        JOIN item ON chat.item_id = item.item_id
        WHERE chat.seller_id = #{sellerID}
    </select>


</mapper>
