<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.userMapper">

<!-- 회원 가입 처리.	-->
	<insert id="insertUser" parameterType="map">
		INSERT INTO user(user_email,user_pw,user_name,user_gender,user_phone,user_nickname,user_img)
		VALUES (#{id},#{password},#{name},#{gender},#{phone},#{nickName},#{profileImg})
	</insert>

<!-- 로그인 처리	-->
	<select id="login" parameterType="map" resultType="UsedStore.Vo.UserVO">
		SELECT * FROM user
		WHERE user_email=#{id}
		AND user_pw=#{password}
	</select>
<!-- Email 중복 처리.	-->
	<select id="checkEmail" parameterType="map" resultType="UsedStore.Vo.UserVO">
		SELECT * FROM user
		WHERE user_email=#{id}
	</select>

<!-- nickName 중복처리.	-->
	<select id="checkNickName" parameterType="map" resultType="UsedStore.Vo.UserVO">
		SELECT * FROM user
		WHERE user_nickname=#{nickName}
	</select>

<!--	유저 정보 보내기-->
	<select id="getUser" resultType="map">
		SELECT * FROM user WHERE user_email = #{userId}
	</select>

<!-- 내가 판매중인거 뽑기 -->
	<select id="getPrice" parameterType="map" resultType="map">
		SELECT * FROM item WHERE user_id = #{userId}
	</select>

	<select id="update" parameterType="map">
		UPDATE user
		SET
			user_pw = #{password},
			user_name = #{name},
			user_gender = #{gender},
			user_phone = #{phone},
			user_nickname = #{nickName}
		WHERE
			user_email = #{id}
	</select>

	<select id="updateProfileImage" parameterType="map">
		UPDATE user
		SET
			user_img = #{profileImg}
		WHERE
			user_email = #{id}
	</select>

	<delete id="deleteUser" parameterType="map">
		DELETE FROM user
		WHERE user_email = #{id}
	</delete>

</mapper>
