<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.userMapper">

<!-- 회원 가입 처리.	-->
	<insert id="insertUser" parameterType="map">
		INSERT INTO user(user_email,user_pw,user_name,user_gender,user_phone,user_nickname)
		VALUES (#{id},#{password},#{name},#{gender},#{phone},#{nickName})
	</insert>

	<select id="login" parameterType="map" resultType="UsedStore.Vo.UserVO">
		SELECT * FROM user
		WHERE user_id = #{id}
		AND user_pw = #{password}
	</select>

</mapper>
